@mixin absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  transform: translate3d(-50%, -50%, 0);
}

@mixin absolute-vertical-center {
  position: absolute;
  top: 50%;
  transform: translate3d(0, -50%, 0);
}

@mixin absolute-horizontal-center {
  position: absolute;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}